<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simple_delivery.simpledelivery">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

        <activity
            android:name="com.example.simple_delivery.simpledelivery.PickVegetables"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.simple_delivery.simpledelivery.DeliveryAddress"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name="com.example.simple_delivery.simpledelivery.DropVegetables"
            android:label="@string/app_name" >

        </activity>



    </application>

</manifest>
